body{
    padding:10px;
}
.no-padding{
    padding:0;
}
.main-content{
    bottom: 0!important;
}
.nav-tab-box{
    margin:0!important;
}
.layadmin-iframe{
    width: 100%;
}
.nav-tab-box .layui-tab-content{
    padding:0;
}